#root{
    display: flex;
    margin: 0;
    padding: 0;
}
.sideBar{
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    flex-shrink: 0;
}
.chatSection{
    display: flex;
    overflow: hidden;
    position:relative;
    flex-direction: column;
    flex: 1 1 auto;
}
.chatInput{
    display: flex;
    border:0;
    border-radius: 10px;
    max-height: 40px;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;

}
.chatInput textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000;
    width: 100%;
    flex:1;
    max-width: 600px;
    height: 40px;
    border: none;
    outline: none;
    resize: none;

}
.chatInput button{
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e4e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages{
    max-height: 300px;
    overflow-y: auto;
}
.messages div{
    margin-bottom: 5px;
    padding:8px 12px;
}
.newChatBlock{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.newChatText{
    width: 100px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 12px;
}
.profileBlock{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}
.userName{
    margin-left: 10px;
}
.logList{
    width: 190px;
    padding-left: 10px;
}
.logList img {
    padding: 0 5px;
}
ul{
    list-style-type: none;
}