body{
    display: flex;
}
#root{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.sideBar{
    width: 260px;
    height: 100vh;
    background-color: #000000;
    padding: 13px 5px;
}
.chatSection{
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.newChatBlock{
    width: 212px;
    height: 40px;
    padding: 0 8px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.chatIcon{
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.newChatText{
    width: 140px;
}
.roomList{
    display: flex;
    flex-direction: column;
}
.roomTitle{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.profileBlock{
    width: 220px;
    height: 32px;
    padding: 8px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
}
.profileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 8px;
}
.chatInput{
    display: flex;
    align-items: center;
    max-width: 700px;
    min-width: 700px;
    padding: 14px 0;
}
.chatInput TextArea{
    border-color: #ffffff;
}
.submitButton{
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
}
.submitButton img{
    width: 18px;
    height: 18px;
}
